@page "/game/{difficulty}"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject UserClient UserClient
@inject DBCaller DatabaseCaller

<h1>Game</h1>

@if (board == null)
{
    <h1 style="margin-top: 100px">Loading...</h1>
}
else
{
    TimeSpan timer = DateTime.Now - launchTime; // 
    <h3 style="margin-left: 100px">Time: @FormatTime()</h3>
    @if (UserClient.MistakeDetection == "On")
    {
        <h3 style="margin-left: 100px">Mistakes: @mistakeCount</h3>
    }
    <h3 style="margin-left: 100px">Hints: @hintCount</h3>
    CheckBoard();
    @if (userCompleted == true)
    {
        <h3>Board Completed!          Your Score: @GenerateScore(difficulty!)</h3>
    }
    <div class="sudoku-container">
        @for (int row = 0; row < 9; row++)  // prints 81 square buttons in a 9x9 format
        {
            <div class="sudoku-column">
                @for (int column = 0; column < 9; column++)
                {
                    int columnTemp = column; // if row and column directly used, OnSelected(9,9) would be called
                    int rowTemp = row;   // for all cells as the loop would have finished by the time of user interaction
                    string backgroundColour = "white";
                    @if (UserClient.MistakeDetection == "On")
                    {
                        backgroundColour = GetBackgroundColour(rowTemp, columnTemp);
                    }
                   <button class="sudoku-cell-default" style="background-color: @backgroundColour" @onclick="() => OnCellSelected(rowTemp, columnTemp)">@DisplayCell(rowTemp, columnTemp)</button>
                }
            </div>
        }
    </div>

    <div class="game-btn-container-left">
        <button class="btn-primary" @onclick=SolveBoard>Solve Board</button>
        <button class="btn-primary" @onclick=CheckBoard>Check Board</button>
        <button class="btn-primary" @onclick=NavigateToMenu>Menu</button>
    </div>

    <div class="game-btn-container-right">
        <button class="btn-primary" @onclick=Reset>Reset Board</button>
        <button class="btn-primary" @onclick=GetHint>Get Hint</button>
        <button class="btn-primary" @onclick=Undo>Undo</button>
        <button class="btn-primary" @onclick=ChangeNotesFunctionality>Notes: @noteTaking</button>
    </div>

    <div class="number-buttons-container">
        @for (int i = 1; i < 10; i++)  // prints 9 numbered input buttons in a line
        {
            int temp = i; // if i directly used, ChangeCellValue(10) would be called for all button clicks
            <button class="button-cell" @onclick="() => ChangeCellValue(temp)">@i</button>
        }
        <button class="button-cell" @onclick="() => EraseValue()">Erase</button>
    </div>
}

@code {
    [Parameter]
    public string? difficulty {get; set;}
    private Cell? selectedCell;
    private Board? board { get; set; }
    private Board? solution { get; set; }
    private ForwardChecker? solver { get; set; }
    private int[,]? correctNumbers = new int[9, 9];
    private string menuUrl = "/menu";
    private bool solved;
    private bool userCompleted = false;
    private DateTime launchTime;
    private int mistakeCount;
    private int hintCount;
    private string noteTaking = "Off";
    private MoveStack stack = new MoveStack();

    protected override async Task OnInitializedAsync()
    {
        GetDifficulty();
        await InitialiseBoardAndSolver();  // asynchronous method for API call
        launchTime = DateTime.Now;
        while (solved == false)  // re-render the page every second while the board is not solved
        {                        // this is required to update the timer to reflect real-time
            await Task.Delay(1000);
            StateHasChanged();
        }
    }

    private void NavigateToMenu()
    {
        NavigationManager.NavigateTo(menuUrl);
    }

    private async Task InitialiseBoardAndSolver()
    {
        await GetBoard();
        board!.InitialiseGraph();
        solver = new ForwardChecker(board);
        MakeUniqueSolution(board);
        board.SetQueue();  // initialise the board ready for solving
        InitialiseCorrectNumbers(); 
        solved = false;
    }

    private async Task GetBoard()
    {
        bool generated = false;
        BoardGeneratorAPI generator = new BoardGeneratorAPI();
        while (generated == false)
        {
            ResponseData responseData = await generator.GenerateBoard();  // fetch board from API
            for (int i=0; i<10; i++)  // 10 boards fetched to minimise the number of fetches needed, while also preventing fetching from taking too long
            {
                if (responseData.NewBoard.Grids[i].Difficulty == difficulty)
                {
                    board = generator.ConvertToBoard(responseData, i);     // no way of fetching board from API by difficulty, so this is checking whether
                    generated = true;                                   // the difficulty of the fetched board matches the desired difficulty
                    i = 10;
                }
            }
        }
    }

    private void GetDifficulty()
    {
        if (difficulty == "Adaptive")  // get recommended difficulty from database if required, otherwise use the chosen difficulty
        {
            difficulty = DatabaseCaller.GetRecommendedDifficulty(UserClient.User!.Id);
        }
    }

    private void MakeUniqueSolution(Board board)
    {
        bool unique = false;
        while (unique == false)
        {
            solver!.HasUniqueSolution();
            if (board.SolutionCount >= 2)  // if board does not have a unique solution, and hence is not a valid Sudoku
            {
                for (int i = 0; i < 9; i++)
                {
                    for (int j = 0; j < 9; j++)
                    {
                        if (board.Solutions[0].BoardSketch[i, j] != board.Solutions[1].BoardSketch[i, j])  // a square which has a different value between the 2 solutions
                        {
                            Cell cell = board.GetCellLocation(i, j);
                            cell.Entry = board.Solutions[0].BoardSketch[i, j];  
                            i = 9;
                            j = 9;
                            board.VariableNodes.Remove(cell);  // sets the cell to be fixed, taking on the value from the first solution
                            board.Reset();  // resets the board so the solving process can be repeated to find a unique solution
                        }
                    }
                }
                board.Solutions = new List<Board>();
                board.SolutionCount = 0;
            }
            else
            {
                unique = true;
            }
        }
        board.InitialiseRemainingNumbers(board.GetFixedNodes());  // initialises unique board
    }

    private void InitialiseCorrectNumbers()
    {
        solver!.Solve(); // solve the board to get correct numbers + caches the result in board.Solutions
        for (int i=0; i<9; i++)  // for constant time access later on
        {
            for (int j=0; j<9; j++)
            {
                correctNumbers![i, j] = board!.Solutions[0].BoardSketch[i, j];  // set correct numbers
            }
        }
        board!.Reset();  // resets the board so that it is rendered in its initial state for the user
        board.SetQueue();
    }

    private string GetBackgroundColour(int column, int row)
    {
        string cellValue = DisplayCell(column, row);
        if (cellValue[0].ToString() != " " && cellValue[0].ToString() != correctNumbers![column, row].ToString())  // if cell is non-empty and is filled with an incorrect value
        {
            return "red";
        }
        return "white";
    }

    private string DisplayCell(int row, int column)    // change to array method for linear time rendering?
    {
        foreach (Cell cell in board!.AdjacencyList.Keys)
        {
            if (cell.Position.Item1 == row && cell.Position.Item2 == column)
            {
                if (cell.NoteEntries.Count != 0)
                {
                    if (cell.Entry != 0)
                    {
                        return $"{cell.Entry.ToString()}  ({string.Join(",", cell.NoteEntries)})";
                    }
                    return $" ({string.Join(",", cell.NoteEntries)})";  // displays cell value if applicable + note entries
                }
                else
                {
                    if (cell.Entry != 0)
                    {
                        return cell.Entry.ToString();
                    }
                    return $" ";  // displays the cell value if it is non-empty, otherwise displays nothing
                }
            }
        }
        throw new InvalidOperationException("Cell does not exist");
    }

    private void OnCellSelected(int row, int column)   // also change to array method?
    {
        if (!solved)
        {
            foreach (Cell cell in board!.VariableNodes)  // finds the cell selected by the user
            {
                if (cell.Position.Item1 == row && cell.Position.Item2 == column)
                {
                    selectedCell = cell;
                }
            }
        }
    }

    private void ChangeCellValue(int number)
    {
        if (!solved)
        {
            if (noteTaking == "Off") 
            {
                if (!(selectedCell == null))
                {
                    Move move = new Move(selectedCell, number, selectedCell!.Entry);
                    stack.Push(move);  // records move + pushes it onto move stack
                    selectedCell.Entry = number;
                    if (number != correctNumbers![selectedCell.Position.Item1, selectedCell.Position.Item2])  // if the input number is incorrect
                    {
                        mistakeCount++;
                    }
                }
            }
            else  // note taking mode is on
            {
                if (selectedCell!.NoteEntries.Contains(number))  // if number already noted, remove it from the list
                {
                    selectedCell.NoteEntries.Remove(number);
                }
                else
                {
                    selectedCell.NoteEntries.Add(number);  // if number not already noted, add it to the list
                }
            }
        }
    }

    private void CheckBoard()
    {
        if (solver!.CheckInvalid() == false && solver!.CheckFinished() == true && solved == false)
        {  // if board has been solved + not been solved in previous renders
            userCompleted = true;
            solved = true;
            if (UserClient.SaveScores == "On")  // if the user's settings indicate that the score should be saved to the database
            {
                UserClient.Entry = new()
                {
                    Score = GenerateScore(difficulty!),
                    CalendarDay = DateOnly.FromDateTime(DateTime.Now).ToString(),
                    Difficulty = difficulty!,
                    CompletionTime = FormatTime(),
                    Mistakes = mistakeCount,
                    UserId = UserClient.User!.Id
                    };
                DatabaseCaller.AddEntry(UserClient.Entry);  // creates a new record for the board entry + adds it to the database
            }
        }
    }

    private int GenerateScore(string difficulty)
    {
        TimeSpan completionTime = DateTime.Now - launchTime;
        int timeScoreSubtraction = (completionTime.Minutes * 60 + completionTime.Seconds);  // 1 score subtracted per second
        int mistakeScoreSubtraction = mistakeCount * 100;  // 100 score subtracted per mistake
        int hintScoreSubtraction = hintCount * 150;  // 150 score subtracted per hint
        int difficultyBonus = 0;
        if (difficulty == "Medium")
        {
            difficultyBonus = 500;
        }
        else if (difficulty == "Hard")
        {
            difficultyBonus = 1000;
        }
        int score = 5000 - timeScoreSubtraction - mistakeScoreSubtraction - hintScoreSubtraction + difficultyBonus;  // score calculation, from an initial score of 5000
        if (score < 0)
        {
            return 0;  // negative scores brought up to 0
        }
        return score;
    }

    private string FormatTime()
    {
        TimeSpan currentTime = DateTime.Now - launchTime;
        if (currentTime.Seconds < 10)
        {
            return $"{currentTime.Minutes}:0{currentTime.Seconds}";  // eg formats as 7:06 instead of 7:6
        }
        return $"{currentTime.Minutes}:{currentTime.Seconds}";
    }

    private void EraseValue()
    {
        if (!solved)
        {
            selectedCell!.Entry = 0;  
        }
    }

    private void SolveBoard()
    {
        if (!solved)
        {
            foreach (Cell cell in board!.VariableNodes)
            {
                cell.Entry = correctNumbers![cell.Position.Item1, cell.Position.Item2];  // sets the value of all cells to the correct value, ensuring they are rendered correctly 
            }
        }
        solved = true;
    }

    private void Reset()
    {
        if (!solved)
        {
            board!.Reset();
        }
    }

    private void GetHint()
    {
        hintCount++;
        List<Cell> emptyCells = new();
        foreach (Cell cell in board!.VariableNodes)
        {
            if (cell.Entry == 0)
            {
                emptyCells.Add(cell);  // adds all cells that currently have no value to a list
            }
        }
        Random random = new Random();
        int randomIndex = random.Next(emptyCells.Count);
        Cell selectedCell = emptyCells[randomIndex];  // selects a random empty cell
        selectedCell.Entry = correctNumbers![selectedCell.Position.Item1, selectedCell.Position.Item2];  // fills the random cell with its correct value
    }

    private void ChangeNotesFunctionality()  // changes frontend display + functionality when changing cell values
    {
        if (noteTaking == "Off")
        {
            noteTaking = "On";
        }
        else
        {
            noteTaking = "Off";
        }
    }

    private void Undo()
    {
        try
        {
            Move move = stack.Pop();
            move.Cell.Entry = move.OldEntry;  // sets the given cell to its original entry before being changed
        }
        catch (IndexOutOfRangeException)
        {           
        }
    }
}