@page "/leaderboard"
@inject NavigationManager NavigationManager

<h1 style="font-size: 50px; text-align: center">Leaderboard</h1>

@if (_dataEntries == null)  // database records in the process of being fetched
{
    <h1 style="margin-top: 100px">Loading...</h1>
}
else
{
    <div class="leaderboard-container">
        <div class="leaderboard-header">
            <strong><u>Name</u></strong>
            <strong><u>Score</u></strong>
            <strong><u>Time</u></strong>
            <strong><u>Difficulty</u></strong>
            <strong><u>Date</u></strong>
        </div>
        @foreach (LeaderboardEntry entry in _dataEntries)  // displays each leaderboard entry in a suitable format
        {
            <div class="leaderboard-text">
                <h3>@entry.Username</h3>
                <h3>@entry.Score</h3>
                <h3>@entry.Time</h3>
                <h3>@entry.Difficulty</h3>
                <h3>@entry.Date</h3>
            </div>
        }
        <button class="btn-leaderboard" @onclick=NavigateToMenu>Main Menu</button>
    </div>
}


@code {
    private List<LeaderboardEntry>? _dataEntries;

    protected override void OnInitialized()
    {
        DBCaller DatabaseCaller = new DBCaller();
        _dataEntries = DatabaseCaller.GetLeaderboardEntries();  // gets leaderboard entries from database
    }

    private void NavigateToMenu()
    {
        NavigationManager.NavigateTo("/menu");
    }
}
